@charset "UTF-8";
/* -----------------------------------

CSS Table OF CONTENTS*

#GLOBAL CSS 
#TYPOGRAPHY
  #BODY
  #HEADINGS
  #LINKS
  #HORIZONTAL RULE
  #HELPER
  #TYPE SPECIMEN
  #TYPOGRAPHY
  #LINKS
#BOTTUNS
#MEDIA
  #IMG
#LAYOUT
#MEDIA
  #IMG
#LAYOUT
  #MEDIA QUERIRE
   #CONTAINER
   #RESPONSIVE TYPE
#GRID
  #


  ----------------------------------------------- */
/* BODY */
body {
  font-family: "muli", sans-serif;
  font-size: 100%;
  line-height: 1.4em;
  color: black; }

/* HEADINGS */
h1, h2, h3 {
  font-family: "garamond-premier-pro-display", serif;
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

/* LINKS */
a {
  color: #79d131; }

a:hover {
  color: #5dac3e; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 4em 0; }

/* HELPER */
.sectionhead {
  font-family: "muli", sans-serif;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em; }

.sectionhead:after {
  display: block;
  content: "";
  width: 50px;
  border: 4px solid #d83a89;
  margin: 1em auto 6em auto; }

.meta {
  font-size: .8em;
  margin: 0 0 2em 0; }

/* Type Specimen */
.mainhead {
  font-size: 6em;
  color: #d83a89;
  margin-bottom: 0; }

.subhead {
  margin-bottom: 1em; }

/* BUTTONS */
button,
.button {
  font-size: inherit;
  font-family: "muli", sans-serif;
  background-color: #79d131;
  line-height: 1;
  color: #fff;
  padding: 1em 2em;
  display: inline-block;
  margin: .5em;
  border: 1px solid #79d131;
  border-radius: .5em;
  cursor: pointer;
  text-decoration: none; }
  button:hover,
  .button:hover {
    background-color: #5dac3e;
    color: #fff;
    border-color: #5dac3e; }
  button.alt,
  .button.alt {
    color: #5dac3e;
    background-color: #fff; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #5dac3e;
      color: #fff;
      border-color: #5dac3e; }
  button.dark,
  .button.dark {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
    button.dark:hover,
    .button.dark:hover {
      background-color: #fff;
      color: #000; }

/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1250px; } }

/* GRID */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .row .column {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1%; }
      .row .column.one-half {
        width: 48%; }
      .row .column.one-third {
        width: 31.3333%; }
      .row .column.two-thirds {
        width: 64.6666%; }
      .row .column.one-fourth {
        width: 23%; } }

.row.demo .column {
  background: #878787;
  padding: 1em;
  text-align: center;
  color: white; }

/* site header and footer */
.site-header, .site-footer {
  background-color: #d83a89;
  padding: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-header h1, .site-footer h1 {
    font-family: "muli", sans-serif;
    font-size: 1.5em;
    margin: .5em 0 0 0;
    /* to adjust baseline with nav text */ }
  .site-header a, .site-footer a {
    color: #fff;
    text-decoration: none; }

/* SITE HEADER */
.site-header {
  background-color: transparent;
  position: absolute;
  width: 100%; }

/* SITE FOOTER */
.site-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 6em;
  background-color: #000; }

/* SITE NAVIGATION */
.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  .site-header .site-nav ul {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    list-style: none; }
  .site-header .site-nav li {
    opacity: 0;
    font-size: 2em;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  .site-header .site-nav a {
    display: block;
    padding: .5em; }
  .site-header .site-nav.active {
    position: fixed;
    height: 100%;
    z-index: 100;
    background: hotpink; }
    .site-header .site-nav.active ul {
      top: 50%; }
    .site-header .site-nav.active li {
      -webkit-transition: all .4s ease-out;
      -o-transition: all .4s ease-out;
      transition: all .4s ease-out;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
      .site-header .site-nav.active li:nth-child(1) {
        -webkit-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0; }
      .site-header .site-nav.active li:nth-child(2) {
        -webkit-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s; }
      .site-header .site-nav.active li:nth-child(3) {
        -webkit-transition-delay: .4s;
        -o-transition-delay: .4s;
        transition-delay: .4s; }
      .site-header .site-nav.active li:nth-child(4) {
        -webkit-transition-delay: .6s;
        -o-transition-delay: .6s;
        transition-delay: .6s; }

.site-footer .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.site-footer .site-nav a {
  display: block;
  padding: 1em; }

/* Menu Button */
.menu-button {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  z-index: ２00; }

.menu-button.navicon {
  font-size: 1.5em;
  top: 1em;
  right: 1em;
  line-height: .75;
  text-align: center;
  width: 1em;
  height: 1em;
  overflow: hidden; }
  .menu-button.navicon:before {
    display: inline-block;
    width: 1em;
    height: 1em;
    content: "\2630";
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }

.active .menu-button.navicon:before {
  content: "\2715";
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: .4s all ease-out;
  -o-transition: .4s all ease-out;
  transition: .4s all ease-out; }

section {
  padding: 6em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center; }

/* Hero Sections */
.hero {
  background-color: black;
  padding: 6em 1em;
  color: #fff; }
  .hero h2 {
    font-size: 4qm;
    margin: 0; }

/* Layout section */
@media (min-width: 768px) {
  .split-crossed-left .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed-left .image-block {
    width: 50%; }
  .split-crossed-left .text-block {
    width: 50%;
    -webkit-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    transform: translateX(-2em); } }

/* Layout section */
@media (min-width: 768px) {
  .split-crossed-reversed .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed-reversed .image-block {
    width: 50%; }
  .split-crossed-reversed .text-block {
    width: 50%;
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em); } }

/* SCROLL TRIGGERED ANIMATION VIA SCROLLOUT */
[data-scroll] {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

[data-scroll="in"] {
  opacity: 1; }

[data-scroll="out"] {
  opacity: 0; }

[data-scroll].split-crossed-left .image-block,
[data-scroll].split-crossed-left .text-block {
  -webkit-transition: 1s -webkit-transform ease-out;
  transition: 1s -webkit-transform ease-out;
  -o-transition: 1s transform ease-out;
  transition: 1s transform ease-out;
  transition: 1s transform ease-out, 1s -webkit-transform ease-out; }

[data-scroll="in"].split-crossed-left .image-block {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

[data-scroll="in"].split-crossed-left .text-block {
  -webkit-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  transform: translateX(-2em); }

[data-scroll="out"].split-crossed-left .image-block {
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em); }

[data-scroll].split-crossed-left .text-block {
  -webkit-transform: translateX(-4em);
  -ms-transform: translateX(-4em);
  transform: translateX(-4em); }

[data-scroll].split-crossed-reversed .image-block,
[data-scroll].split-crossed-reversed .text-block {
  -webkit-transition: 1s ease-out transform;
  -o-transition: 1s ease-out transform;
  transition: 1s ease-out transform; }

[data-scroll="in"].split-crossed-reversed .image-block {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

[data-scroll="in"].split-crossed-reversed .text-block {
  -webkit-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  transform: translateX(-2em); }

[data-scroll="out"].split-crossed-reversed .image-block {
  -webkit-transform: translateX(2m);
  -ms-transform: translateX(2m);
  transform: translateX(2m); }

[data-scroll].split-crossed-reversed .text-block {
  -webkit-transform: translateX(-4em);
  -ms-transform: translateX(-4em);
  transform: translateX(-4em); }
