
// VARIABLES

$body-fontfamily: "muli", sans-serif;
$heading-fontfamily: "garamond-premier-pro-display", serif;

// COLORS

$color-text-body: rgba(0, 0, 0, 466);
$color-midgray: rgba(0, 0, 0, .5);
$color-links: rgb(121, 209, 49);
$color-links-dark: rgb(93, 172, 62);
$type-color-body: rgba(46, 235, 248, 0.5);

$color-hero-bg: rgb(190, 241, 245);
$color-accent:rgb(216, 58, 137); 
$color-nav:white;

//Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;


//IMPORT PARTIALS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/buttons";
@import "partials/media"; 
@import "partials/layout"; 
@import "partials/grid"; 
@import "partials/structure";  

