/* BUTTONS */
    
button,
.button {
    font-size: inherit;
    font-family: $body-fontfamily;
    background-color: $color-links;
    line-height: 1;
    color: #fff;
    padding: 1em 2em;
    display: inline-block;
    margin: .5em;
    border: 1px solid $color-links;
    border-radius: 2em;
    cursor: pointer;


    &:hover {
        background-color: $color-links-dark;
        color: #fff;
        border-color: $color-links-dark;
    }
    &.alt {
        color: $color-links-dark;
        background-color: #fff;
    
    &:hover {
        background-color: $color-links-dark;
        color: #fff;
        border-color: $color-links-dark;
    }
  }
}