/* site header and footer */
.site-header, .site-footer {
    background-color: $color-accent;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
        margin: .5em 0 0 0; /* to adjust baseline with nav text */
    }
    a {
        color: #fff;
        text-decoration: none;
    }
} 
/* SITE HEADER */
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

/* SITE FOOTER */
.site-footer {
    justify-content: center;
    margin-top: 6em;
    background-color: #000;
}

/* SITE NAVIGATION */
.site-header .site-nav {
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    transition: all .4s ease;
    ul {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        opacity: 0;
        font-size: 2em;
        transform: translateY(-30px);
    }
    a {
        display: block;
        padding: .5em;
    }
    
    &.active {
        position: fixed;
        height: 100%;
        z-index: 100;
        background:hotpink;
        ul {
            top: 50%;
        }
        li {
            transition: all .4s ease-out; 
            // transition: all .4s cubic-bezier(0,1,1,1);
            transform: translateY(0);
            opacity: 1;
            &:nth-child(1) {transition-delay: 0;}
            &:nth-child(2) {transition-delay: .2s;}
            &:nth-child(3) {transition-delay: .4s;}
            &:nth-child(4) {transition-delay: .6s;}
           
        }
           
    }
}
.site-footer .site-nav {
    ul {
        display: flex;
        list-style: none;
    }
    a {
        display: block;
        padding: 1em;
    }
}

/* Menu Button */
.menu-button {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: ２00;    
}
 .menu-button.navicon {
     font-size: 1.5em;
     top: 1em;
     right: 1em;
     line-height: .75;
     text-align: center;
     width: 1em;
     height: 1em;
     overflow: hidden;
     //background: pink;

    &:before {
        display: inline-block;
        width: 1em;
        height: 1em;
        content: "\2630";
      
        //background: green;
        transform: rotate(0);
       
    }
 }
 .active .menu-button.navicon:before {
     content: "\2715";
     //background: blue;
     transform: rotate(-90deg);
     transition: .4s all ease-out;
 }


 section {
     
     padding: 6em 0;
     min-height: 100vh;
     display: grid;
     place-items: center;
 }

/* Hero Sections */
.hero {
    background-color: $color-hero-bg;
    padding: 6em 1em;
    color: #fff;
    // background-image: url(https://images.unsplash.com/photo-1450262622215-e1167c339ddc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80  );
    //background-size: cover; 
   
    h2 {
        font-size: 4qm;
        margin: 0;
        //color:#fff;
    }
}

/* Layout section */
.split-crossed-left {
    @media (min-width: $breakpoint-small) { 
        .container {
            display: flex;
            align-items: center;
        }
        .image-block {
            width: 50%;
            //background: rgba(255,0,0,.3);
        }
        .text-block {
            width: 50%;
            transform: translateX(-2em);
            // margin-left: -2em;
            //background: rgba(0,0,255,.3);
        }
    }
}

/* Layout section */
.split-crossed-reversed {
    @media (min-width: $breakpoint-small) { 
        .container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .image-block {
            width: 50%; 
        }
        .text-block {
            width: 50%;
            transform: translateX(2em);
            // margin-left: -2em;
        }
    }
}

/* SCROLL TRIGGERED ANIMATION VIA SCROLLOUT */
[data-scroll] {
    transition: opacity 1s;
}
[data-scroll="in"] {
    opacity: 1;
}
[data-scroll="out"] { 
    opacity: 0;
}

//SPLIT_CROSSED LEFT ANIMATION

 [data-scroll].split-crossed-left .image-block,
 [data-scroll].split-crossed-left .text-block {
     transition: 1s transform ease-out;
 }
 [data-scroll="in"].split-crossed-left .image-block {
     transform: translateX(0);
 }
 [data-scroll="in"].split-crossed-left .text-block {
    transform: translateX(-2em);
}
[data-scroll="out"].split-crossed-left .image-block {
    transform: translateX(2em);
}

[data-scroll].split-crossed-left .text-block {
     transform: translateX(-4em);
 } 


 [data-scroll].split-crossed-reversed .image-block,
 [data-scroll].split-crossed-reversed .text-block {
     transition: 1s ease-out transform;
 }
 [data-scroll="in"].split-crossed-reversed .image-block {
     transform: translateX(0);
 }
 [data-scroll="in"].split-crossed-reversed .text-block {
    transform: translateX(-2em);
}
[data-scroll="out"].split-crossed-reversed .image-block {
    transform: translateX(2m);
}

[data-scroll].split-crossed-reversed  .text-block {
     transform: translateX(-4em);
 }


 