/* site header and footer */
.site-header, .site-footer {
    background-color: $color-nav;
    padding: 1em;
    color: $type-color-body;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: $type-color-body;
        font-size: 1.5em;
        margin: .5em 0 0 0; /* to adjust baseline with nav text */
    }
    a {
        color: $type-color-body;
        text-decoration: none;
    }
} 
/* SITE HEADER */
.site-header {
    background-color: $color-nav;
    position: absolute;
    width: 100%;
}

/* SITE FOOTER */
.site-footer {
    justify-content: center;
    margin-top: 6em;
    background-color: #000;
}

/* SITE NAVIGATION */
.site-header .site-nav {
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    transition: all .4s ease;
    ul {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        opacity: 0;
        font-size: 2em;
        transform: translateY(-30px);
    }
    a {
        color: $color-nav;
        display: block;
        padding: .5em;
    }
    
    &.active {
        position: fixed;
        height: 100%;
        z-index: 100;
        background: rgb(5, 141, 141);
        color: #fff;
        ul {
            top: 50%;
        }
        li {
            transition: all .4s ease-out; 
            // transition: all .4s cubic-bezier(0,1,1,1);
            transform: translateY(0);
            opacity: 1;
            &:nth-child(1) {transition-delay: 0;}
            &:nth-child(2) {transition-delay: .2s;}
            &:nth-child(3) {transition-delay: .4s;}
            &:nth-child(4) {transition-delay: .6s;}
           color: $color-nav;
        }
    }
}
.site-footer .site-nav {
    ul {
        display: flex;
        list-style: none;
    }
    a {
        display: block;
        padding: 1em;
    }
}

/* Menu Button */
.menu-button {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: ２00;    
}
 .menu-button.navicon {
     font-size: 1.5em;
     top: 1em;
     right: 1em;
     line-height: .75;
     text-align: center;
     width: 1em;
     height: 1em;
     overflow: hidden;
     //background: pink;

    &:before {
        display: inline-block;
        width: 1em;
        height: 1em;
        content: "\2630";
      
        //background: green;
        transform: rotate(0);
       
    }
 }
 .active .menu-button.navicon:before {
     content: "\2715";
     //background: blue;
     transform: rotate(-90deg);
     transition: .4s all ease-out;
 }


 section {
     padding: 6em 0;
     height: 100vh;
     display: grid;
     align-items: center;
 }

/* Hero Sections */

.hero .container {
   
    .half-circles {
       align-items: baseline;
    }
}



.hero {
    background-color: $color-hero-bg;
    padding: 6em 1em;
    color: #fff;

    .container{
        position: relative;
        
        
        margin-top: 68vh;

        h2 {
            font-size: 4em;
            margin: 0;
            z-index: 600px;
            color: $type-color-body; 
        }
    
        p{ 
            z-index: 600px;
        }
 
    .half-circles{ 
position: absolute;

.circle1 {
   
    position: absolute;
    width: 900px;
    height: 450px;
    border-radius: 450px 450px 0 0;
    background: rgb(5, 141, 141);
    z-index:100px;
    bottom: 0;
}
.circle2 {
   
    position: absolute;
    width: 800px;
    height: 400px;
    border-radius: 400px 400px 0 0;
    background: rgb(54, 196, 214);
    z-index:200px;
    bottom: 0;
}

.circle3 {
  
    position: absolute;
    width:700px;
    height: 350px;
    border-radius: 350px 350px 0 0;
    background:  rgb(143, 240, 243);
    z-index:300px;
    bottom: 0;
}

    .circle4 {
      
        position: absolute;
        width: 600px;
        height: 300px;
        border-radius: 300px 300px 0 0;
        background: white;
        z-index: 500px;
        bottom: 0;

    }
 
    }

}
}

/* Layout section */
.split-crossed-left {
    @media (min-width: $breakpoint-small) { 
        .container {
            display: flex;
            align-items: center;
        }
        .image-block {
            width: 50%;
            //background: rgba(255,0,0,.3);
        }
        .text-block {
            width: 50%;
            transform: translateX(-2em);
            // margin-left: -2em;
            //background: rgba(0,0,255,.3);
        }
    }
}

/* Layout section */
.split-crossed-reversed {
    @media (min-width: $breakpoint-small) { 
        .container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .image-block {
            width: 50%; 
        }
        .text-block {
            width: 50%;
            transform: translateX(2em);
            // margin-left: -2em;
        }
    }
}

/* SCROLL TRIGGERED ANIMATION VIA SCROLLOUT */
[data-scroll] {
    transition: opacity 1s;
}
[data-scroll="in"] {
    opacity: 1;
}
[data-scroll="out"] { 
    opacity: 0;
}

//SPLIT_CROSSED LEFT ANIMATION

 [data-scroll].split-crossed-left .image-block,
 [data-scroll].split-crossed-left .text-block {
     transition: 1s transform ease-out;
 }
 [data-scroll="in"].split-crossed-left .image-block {
     transform: translateX(0);
 }
 [data-scroll="in"].split-crossed-left .text-block {
    transform: translateX(-2em);
}
[data-scroll="out"].split-crossed-left .image-block {
    transform: translateX(2em);
}

[data-scroll].split-crossed-left .text-block {
     transform: translateX(-4em);
 } 


 [data-scroll].split-crossed-reversed .image-block,
 [data-scroll].split-crossed-reversed .text-block {
     transition: 1s ease-out transform;
 }
 [data-scroll="in"].split-crossed-reversed .image-block {
     transform: translateX(0);
 }
 [data-scroll="in"].split-crossed-reversed .text-block {
    transform: translateX(-2em);
}
[data-scroll="out"].split-crossed-reversed .image-block {
    transform: translateX(2m);
}

[data-scroll].split-crossed-reversed  .text-block {
     transform: translateX(-4em);
 }


 